/*Minecraft font*/
@font-face {
    font-family: 'minecraft';
    src: url(https://troresco.uk/minecrafter.reg.ttf);
}

/*Removes the site margins*/
body {
    margin:0px;
    background-color:#102020;
    font-family:'minecraft', sans-serif;
}

/*

### Navigation bar

*/

/*Sets up the site navbar settings*/
.navbar {

    width:100%;
    height:50px;

    margin:0px;

    background-color: #405050;
}

/*Sets up the list information*/
.navbar ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #405050;
}

/*Sets list item default hover*/
.navbar li {
    float:left;
}
.navbar li.right {
    float:right;
}

/*List Block Item*/
.navbar li a {
    display: block;

    text-decoration: none;
    color:white;
    text-align:center;
    padding: 15px 15px;
}

/*Hover Color List Block Item*/
.navbar li a:hover {
    background-color: #406060;
}

.content_area {
    width:100%;
    height:100%;
    position:absolute;
}

/*

### Content description for pages

*/

/*About me section on home page*/
.content_desc {
    width:96%;
    height:100%;
    margin:auto;
    background-color: #203030;
}

.title_center {
    /*margin-left:10px;*/
    text-align:center;
    color:white;
    text-decoration: none;
}

.content_center {
    /*margin-left:10px;*/
    text-align:center;
    color:white;
    text-decoration: none;
}

/*

### Portfolio Page

*/

/*Portfolio image grid*/
.portfolio {
    border: 1px solid #ccc;
}

/*portfolio image grid hover border*/
.portfolio:hover {
    border: 1px solid #777;
}
  
/*portfolio image format*/
.portfolio img {
    width: 100%;
    height: auto;
}

/*portfolio image description*/
.desc {
    color:white;
    padding: 15px;
    text-align: center;
}

/* Responsive Element */
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    box-sizing: border-box;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}