/*Minecraft font*/
@font-face {
    font-family: 'minecraft';
    src: url(https://troresco.uk/minecrafter.reg.ttf);
}

/*Removes the site margins*/
body {
    margin:0px;
    background-color:#102020;
    font-family:'minecraft', sans-serif;
}

/*

### Navigation bar

*/

/*Sets up the site navbar settings*/
.navbar {

    width:100%;
    height:50px;

    margin:0px;

    background-color: #405050;
}

/*Sets up the list information*/
.navbar ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #405050;
}

/*Sets list item default hover*/
.navbar li {
    float:left;
}
.navbar li.right {
    float:right;
}

/*List Block Item*/
.navbar li a {
    display: block;

    text-decoration: none;
    color:white;
    text-align:center;
    padding: 15px 15px;
}

/*Hover Color List Block Item*/
.navbar li a:hover {
    background-color: #406060;
}

.content_area {
    display:flex;
    width:100%;
    min-height:100%;
    margin:0;
}

/*

### Content description for pages

*/

/*About me section on home page*/
.content_desc {
    width:96%;
    height:100%;
    margin:auto;
    background-color: #203030;
}

.title_center {
    /*margin-left:10px;*/
    text-align:center;
    color:white;
    text-decoration: none;
}

.content_center {
    /*margin-left:10px;*/
    text-align:center;
    color:white;
    text-decoration: none;
}

/*

### Project Items

*/

/* Grid layout object */
.project_list {
    display:grid;

    width:100%;
    height:100%;

    margin-top:30px;

    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-auto-rows: 400px;
}

.project_item {
    width:95%;
    height:95%;

    margin:auto;

    text-decoration:none;
    color:white;
    
    background-color:#102020;

    text-align:center;
}

.project_item:hover{
    background-color:#102020;
}