/*Minecraft font*/
@font-face {
    font-family: 'minecraft';
    src: url(./minecraft.reg.woff);
}

/*Minecraft Bold font*/
@font-face {
    font-family: 'minecraft_bold';
    src: url(./minecraft.bold.woff);
}

/* Removes color from visited links */
a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

/*Removes the site margins*/
body {
    margin:0px;
    background-color:#102020;
    font-family:'minecraft', sans-serif;
    font-weight: normal;
    /*font-family: sans-serif;*/
}

h1 {
    font-weight: normal;
    font-family: 'minecraft_bold', sans-serif;
}

button {
  border: none;
}

/*

### Navigation bar

*/

/* Navbar container */
.navbar {
    /* Overflow being hidden means items will not try to stack onto the page. */
    overflow: hidden;
    background-color: #405050;
    height: 100%;
    position: relative;
}
  
/* Navbar item setttings */
.nav_link {
    float: left;
    display: block;
    background-color: #405050;
    color: white;
    text-align: center;
    padding: 16px 16px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 22px;
}

/* Sets home item to the right */
.navbar_left a {
    float: left;
}

/* Sets contact me item to the right */
.navbar_right a {
    float: right;
}
  
/* Sets hover color for navbar items */
.nav_link:hover {
    background-color: #406060;
}

/* Sets active navbar color (page selected) */
.navbar a.active {
    background-color: #3a7474;
    color: white;
}

/* Sets hover color for navbar items */
.navbar button:hover {
  background-color: #406060;
}

/* Sets active navbar color (page selected) */
.navbar button.active {
  background-color: #3a7474;
  color: white;
}

/* Creates an icon with no display */
.navbar .icon {
    height:100%;
    width: 60px;
    display: none;
    background-color: #405050;
    position:absolute;
    top:0px;
    right:0px;
}

.nav_icon {
    float: left;
    display: block;
    text-align: center;
    padding: 0px 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin:0px;
    text-decoration: none;
}
.nav_icon_img {
    padding-top:2px;
    height:52px;
    width:auto;
    display:block;
}

/* Sets navbar at low screen size, adding drop down */
@media screen and (max-width: 756px) {
    
    /* Sets normal navbar data */
    .navbar a {
        display: none;
    }
    .nav_icon {
        float: left;
        display:block;
    }
    .nav_icon_img {
        display:block;
    }
    .navbar_left a {
        float: left;
        display:block;
    }
    .navbar_right a {
        display:none;
    }
    .navbar .icon {
        float: right;
        display: block;
    }
    
    /* Sets navbar responsive data */
    .navbar.responsive a.nav_link {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .icon {
        background-color:#406060;
    }
    .navbar.responsive .icon:hover {
      background-color:#3A7474;
    }
}

/* Creates content background*/
.content_background {
    display:flex;
    width:100%;
    min-height:100%;
    margin:0;
}

/*

### Content description for pages

*/

/* */
.content_area {
    width:96%;
    height:100%;
    margin:auto;
    background-color: #203030;
}

.content_block {
    display:grid;
    grid-template-columns: 33.4% 66.6%;
    grid-auto-rows: auto;
}
.content_block_2 {
    display:grid;
    grid-template-columns: 66.6% 33.4%;
    grid-auto-rows: auto;
}

.content_image_block {
    display:flex;
    align-items:center;
    margin:5px;
}
.content_image_block_alt {
    display:flex;
    width:60%;
    align-items:center;
    margin:auto;
}

.content_image {
    display:inline-block;
    width:100%;
    height:auto;
    position:relative;
    vertical-align: middle;
}

.content_area_replace {
    display:block;
    width:96%;
    height:100%;
    margin:auto;
    background-color: #203030;
}
.content_area_replace_1 {
    display:none;
    width:96%;
    height:100%;
    margin:auto;
    background-color: #203030;
}
/* Replaceable content for home page */
@media screen and (max-width: 850px) {
    .content_area_replace {
        display:none;
    }
    .content_area_replace_1 {
        display:block;
    }
}

.contact_container {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
}
.contact_image_container {
    display:flex;
    margin:10px;
}
.contact_image {
    width:40px;
    height:auto;
}
.contact_container a {
    color:white;
    font-family: 'minecraft_bold';
    font-size:20px;
    text-align:center;
}

.content_text_section {
    display:inline-block;
    margin: 15px;
    height:auto;
    width:auto;
    background: #102020;
    color:white;
}

.content_text_section_title {
    background:#001010;
    margin-top: 0px;
}
.content_text_section h1 {
    text-align:center;
    font-weight: normal;
    margin-left:5px;
    margin-right:5px;
    height:auto;
}
.content_text_section h2 {
    text-align:left;
    font-weight: normal;
    margin-left:10px;
    margin-right:10px;
    font-family:'minecraft_bold';
}
.content_text_section b {
    font-family:'minecraft_bold';
    font-weight: normal;
}
.content_text_section p {
    text-align:left;
    font-weight: normal;
    line-height:1.6;
    margin-left:12px;
    margin-right:12px;
}

/* Block for section title */
.content_section_title {
    display:inline-block;

    width:100%;
    height:30px;
    margin:auto;

    text-align:center;

    color: #102020;
    background-color: #406060;
}

/* Section title text */
.content_section_title_text {
    display:block;
    margin-top:8px;
}

.title_center {
    /*margin-left:10px;*/
    text-align:center;
    color:white;
    text-decoration: none;
}

.content_center {
    /*margin-left:10px;*/
    text-align:center;
    color:white;
    text-decoration: none;
}

/*

### Project Items

*/

/* Grid layout object */
.project_list {
    display:grid;

    width:100%;
    height:100%;

    margin-top:30px;

    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-auto-rows: auto;
}

/* Changes to 2 or 1 columns of items based on screen size */
@media screen and (max-width: 800px) and (min-width:401px) {
    .project_list {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 400px) {
    .project_list {
        grid-template-columns: 100%;
    }
}

/* Item in the project bar */
.project_item {
    width:95%;
    height:95%;

    margin:auto;
  
    background-color:#102020;
}

/* Hover color for project item */
.project_item:hover{
    background-color:#001010;
}

/* Project image settings */
.project_image {
    display:block;
    outline-style:solid;
    outline-color:#001010;
    outline-width:4px;
    margin:auto;
    margin-top:10px;
    width:96%;
    height:auto;
}

/* Project title text data */
.project_title_text {
    text-align:center;
    color:white;
    text-decoration:none;
    margin-top:10px;
}

/* Project description text data */
.project_description_text {
    text-align:center;
    color:rgb(150, 150, 150);
    text-decoration:none;
    margin-top:0px;
    margin-bottom:30px;
}


/*

### Portfolio Items

*/

/* Grid layout object */
.portfolio_list {
    display:grid;

    width:100%;
    height:100%;

    margin-top:0px;

    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-auto-rows: auto;
}

/* Changes column count depending on screen size */
@media screen and (max-width: 1200px) and (min-width:1001px) {
    .portfolio_list {
        grid-template-columns: 14.285% 14.285% 14.285% 14.285% 14.285% 14.285% 14.285%;
    }
}
/* Changes column count depending on screen size */
@media screen and (max-width: 1000px) and (min-width:801px) {
    .portfolio_list {
        grid-template-columns: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    }
}
/* Changes column count depending on screen size */
@media screen and (max-width: 800px) and (min-width:601px) {
    .portfolio_list {
        grid-template-columns: 20% 20% 20% 20% 20%;
    } 
}
/* Changes column count depending on screen size */
@media screen and (max-width: 600px) {
    .portfolio_list {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

/* Grid layout object */
.portfolio_list_2 {
    display:grid;

    width:80%;
    height:100%;

    margin:auto;
    margin-top:0px;

    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-auto-rows: auto;
}

/* Changes column count depending on screen size */
@media screen and (max-width: 800px) and (min-width:601px) {
    .portfolio_list_2 {
        grid-template-columns: 50% 50%;
    }
}
/* Changes column count depending on screen size */
@media screen and (max-width: 600px) {
    .portfolio_list_2 {
        grid-template-columns: 100%;
    }
}

/* Grid layout object */
.portfolio_list_3 {
    display:grid;

    width:100%;
    height:100%;

    margin:auto;
    margin-top:0px;

    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-auto-rows: auto;
}

/* Changes column count depending on screen size */
@media screen and (max-width: 1000px) and (min-width:601px) {
    .portfolio_list_3 {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
/* Changes column count depending on screen size */
@media screen and (max-width: 600px) {
    .portfolio_list_3 {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

/* Item in the project bar */
.portfolio_item {
    width:100%;
    height:100%;

    margin:auto;
  
    background-color:#203030;
}

/* Hover color for project item */
.portfolio_item:hover{
    background-color:#102020;
}

/* Project image settings */
.portfolio_image {
    display:block;
    outline-style:solid;
    outline-color:#001010;
    outline-width:0px;
    margin:auto;
    margin-top:2.5%;

    align-self:center;
    
    width:95%;
    height:95%;
}

/* Project title text data
.project_title_text {
    text-align:center;
    color:white;
    text-decoration:none;
    margin-top:10px;
}

/* Project description text data 
.project_description_text {
    text-align:center;
    color:rgb(150, 150, 150);
    text-decoration:none;
    margin-top:0px;
    margin-bottom:30px;
}*/